body {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 60px auto;
  max-width: 600px;
}

img {
  display: block;
  height: 310px;
  margin: 0 auto;
  max-width: 100%;
  width: 540px;
}

header {
  margin: 30px;
}

h1 {
  color: #451579;
  font-size: 38px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
}

.quote {
  background-color: #ffffff;
  border: 1px dotted #7d1fae;
  border-radius: 10px;
  color: #7d1fae;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}

.quote-size {
  font-size: 12px;
}

.intro-text {
  color: #451579;
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
}

.form-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
  padding: 15px 20px;
}

form {
  display: flex;
}

.hint {
  color: #451579;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 10px;
  opacity: 0.9;
}

a {
  color: #7d1fae;
  font-weight: 600;
}

.instructions {
  border: 3px solid #7d1fae;
  border-radius: 10px;
  color: #451579;
  padding: 16px;
  font-size: 16px;
  line-height: 20px;
  transition: border-color 0.3s ease;
  width: 80%;
}

input::placeholder {
  color: #451579;
}

input:focus {
  outline: transparent;
  border: 3px solid #e9290f;
}

.submit-button {
  background-color: #7d1fae;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  padding: 10px 10px;
  width: 150px;
  transition: all 0.2s ease;
}

.submit-button:hover:not(:disabled) {
  background-color: #a467da;
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.2s ease;
}

.recipe {
  background-color: #ffffff;
  border-left: 10px solid #a467da;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
  font-size: 14px;
  line-height: 2;
  padding: 20px;
}

.hidden {
  display: none;
}

.recipe strong {
  color: #7d1fae;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

.error-message {
  color: #e9290f;
  font-weight: 600;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}
